<br><h6>Date and Time you first notice this bug *</h6>
    

<br><h6>Impact</h6>
<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Low</button>
          <button ngbDropdownItem>Medium</button>
          <button ngbDropdownItem>High</button>
        </div>
      </div>
    </div>



<br>